.photo-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}
  
.photo-holder-player {
    position: absolute;
    top: 50vh;
    left: 30;
    width: 30vw;
}

.face-player {
    position: absolute;
    top: 50vh;
    left: 30;
    width: 30vw;
}