@import 'style/global.scss';

html,
body {
    overscroll-behavior-y: contain;
}

body, .App, .home, .owner-screen { text-align: center; }

body {
    @include myText;
    background-color: darken($mainColor, 40%);
    user-select: none;
}

.App {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.home {
    background-image: url("images/home.jpg");
    background-size: cover;
    background-position: right;

    .title-screen {
        padding-left: 10vw;
    }
}

// TV
.App.owner {
    overflow: hidden;
  }
  .App.owner::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
  }
  .App.owner::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }

.big {
    font-size: 2.5em;
}
  
.very-big {
    font-size: 5em;
}

// Canvas
.player-canvas {
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

// Timer bar
.MuiLinearProgress-root {
    @include baseContainer;
    background-color: darken($mainColor, 20%) !important;
    height: 15px !important;
    border-radius: 2px;
}

.MuiLinearProgress-bar {
    background-color: lighten($mainColor, 40%) !important;
    box-shadow: 0 0 30px rgba(255, 255, 255, 1);
}

/* .player-card {
    font-size: 1.4em;
}

.player-picture {
    @include baseContainer;
    overflow: hidden;
    width: 90px;
    height: 90px;
    border: 2px solid;
    border-radius: 50%;
    margin: 0 auto -10px;

    img {
        height: 90px;
    }
}

.even-player {
    margin-top: 150px;
} */

/* .card {
    @include baseContainer(0.7em);
    width: 90vw;
    margin: 15px 0;
    padding: 10px;
    border: 2px solid;
} */

