html,
body {
    overscroll-behavior-y: contain;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.App {
  overflow: hidden;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}

.App-link {
  color: #61dafb;
}

.home {
  border: 2px solid black;
  padding: 15px;
  width: 100px;
  border-radius: 15px;
}

body {
  background-color: #260a31;
}

.Home {
  text-align: center;
  margin-top: 20vh;
}

.big {
  font-size: 2.5em;
}

.very-big {
  font-size: 4em;
}

/* GAME TITLE */
.game-title {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 80px;
}

.game-title span:first-child { color: #d580ff; }
.game-title span:nth-child(2) { color: #cc66ff; }
.game-title span:nth-child(3) { color: #c44dff; }
.game-title span:nth-child(4) { color: #bb33ff; }
.game-title span:nth-child(5) { color: #b31aff; }
.game-title span:nth-child(6) { color: #aa00ff; }
.game-title span:nth-child(7) { color: #9900e6; }
.game-title span:nth-child(8) { color: #8800cc; }
.game-title span:nth-child(9) { color: #7700b3; }

/* DEFAULT BUTTON */
.default-button {
  border-color: #fbd4c2 !important;
}

.default-button span {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  padding: 0 50px;
  color: #fc80df;
  outline-color: white;
}

.room-ribbon {
  position: fixed;
  width: 150px;
  background: blue;
  top: 8px;
  right: -42px;
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 50px;
  letter-spacing: 2px;
  color: white;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.flash-message {
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding: 15px;
  display: "none";
}

.alert {
  position: absolute;
  top: 0;
  width: 100vw;
}

.flash-error {
  background-color: red;
}