html,
body {
    overscroll-behavior-y: contain;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.App {
  overflow: hidden;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}

.App-link {
  color: #61dafb;
}

.home {
  border: 2px solid black;
  padding: 15px;
  width: 100px;
  border-radius: 15px;
}

body {
  background-color: #260a31;
}

.Home {
  text-align: center;
}

.big {
  font-size: 2.5em;
}

.very-big {
  font-size: 5em;
}

/* GAME TITLE */
.game-title {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 15vh;
  text-shadow: 0 0 5px #380053, 0 0 15px rgba(255, 255, 255, 0.3), 0 0 120px rgba(255, 255, 255, 0.3);
}

.game-title span:first-child { color: #d580ff; }
.game-title span:nth-child(2) { color: #cc66ff; }
.game-title span:nth-child(3) { color: #c44dff; }
.game-title span:nth-child(4) { color: #bb33ff; }
.game-title span:nth-child(5) { color: #b31aff; }
.game-title span:nth-child(6) { color: #aa00ff; }
.game-title span:nth-child(7) { color: #9900e6; }
.game-title span:nth-child(8) { color: #8800cc; }
.game-title span:nth-child(9) { color: #7700b3; }

/* HOME BUTTON */
.home-button {
  border-color: #ffb6ee !important;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.home-button span {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  padding: 0 50px;
  color: #ffb6ee;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* DEFAULT BUTTON */
.default-button {
  border-color: #ffb6ee !important;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.default-button span {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  color: #ffb6ee;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

.MuiInputBase-input  {
  color: white !important;
  border-bottom: 1px solid #ffb6ee !important;
}

.MuiInputLabel-root   {
  color: #ffb6ee !important;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

.player-join {
  margin-bottom: 15vh;
}

.robot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.robot-player {
  position: absolute;
  top: 50vh;
  left: 30;
  width: 30vw;
}

.face-player {
  position: absolute;
  top: 50vh;
  left: 30;
  width: 30vw;
}

.room-ribbon {
  position: fixed;
  width: 150px;
  background: blue;
  top: 8px;
  right: -42px;
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 50px;
  letter-spacing: 2px;
  color: white;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.flash-message {
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding: 15px;
  display: "none";
}

.alert {
  position: absolute;
  top: 0;
  width: 100vw;
}

.flash-error {
  background-color: red;
}